[Unit]
Description=Load System Modules
DefaultDependencies=no
After=local-fs.target
Before=network-pre.target
Before=NetworkManager.service
Before=wpa_supplicant.service
StartLimitIntervalSec=0

[Service]
Type=oneshot
ExecStart=sh /etc/init.d/load-systemko.sh start

[Install]
WantedBy=multi-user.target
